html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
	min-height: 100%;
  background: #F5F5F5;
  font-family: 'Roboto', sans-serif;
}

/* svg defs hidden */
#icon-defs {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

/*
=== GENERAL RESETS ===
*/
/* clearfix */

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* button resets*/

/* removes padding and border added by Firefox  */

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}


/* resets initial styles so all button elements start with the same look and can be built upon */

button {
  padding: 0;
  display: inline-block;
  border: none;
  text-decoration: none;
  color: inherit;
  font-family: sans-serif;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

p {
  line-height: 1.5;
}

.blk_center {
  margin-left: auto;
  margin-right: auto;
}

h1,
.price {
  font-family: 'Roboto Slab', serif;
}

.large_container {
  max-width: 87.23rem;
  margin: auto;
  padding: 0 0.5rem;
}


/* visually hide content but keep it accessible */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}


/*
=== REUSABLE HEADINGS
*/


/* pink headings */

.sections_heading-main {
  color: #EA37B9;
  font-weight: 400;
  font-size: 1.85rem;
  margin-bottom: 0.5em;
}


/* 
=== SITE HEADER / LOGO SECTION
*/

.site_header {
  background: #fff;
  padding: 0.15rem 0;
}

.site_logo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 2.375rem;
  height: 2.375rem;
  margin-right: 0.3rem;
  background: #804EA3;
  border: 0.25rem solid #D2C8E3;
  border-radius: 50%;
}

.site_logo-stack {
  width: 1.0625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.site_name-standout {
  color: #8942B8;
  font-weight: 700;
}

.site_heading-name {
  display: inline-block;
  vertical-align: middle;
  color: #767676;
  font-weight: 500;
  font-size: 1.15rem;
}

/* search section */

.site_search-form {
  position: relative;
  float: right;
  width: 100%;
  max-width: 17.5rem;
  margin: 0.5rem 0;
}

.site_search-input {
  width: 100%;
  padding: 0.36rem 2.5rem 0.36rem 0.625rem;
  background: #fff;
  color: #828282;
  border: 0.0625rem solid #9341C1;
  border-radius: 0.1875rem;
  transition: box-shadow 0.2s ease-in-out;
}

.site_search-input:focus {
  box-shadow: 0 0 0.1875rem 0.0625rem rgba(147, 65, 193, 0.5);
}

.site_search-btn {
  position: absolute;
  right: 0.0625rem;
  top: 0.0625rem;
  width: 2.5rem;
  height: calc(100% - 0.125rem);
  text-align: center;
  background: #f5f5f5;
  border-top-right-radius: 0.1875rem;
  border-bottom-right-radius: 0.1875rem;
  -webkit-transition: background 0.2s ease-in-out, width 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, width 0.2s ease-in-out;
}

.site_search-btn:hover,
.site_search-btn:focus {
  outline: 0;
  background: #9341C1;
}

.site_search-btn:active {
  width: 25%;
}

.site_search-icon {
  display: inline-block;
  vertical-align: middle;
  width: 1.4375rem;
  height: 1.4375rem;
  fill: #9341C1;
  -webkit-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}

.site_search-btn:hover .site_search-icon,
.site_search-btn:focus .site_search-icon {
  fill: #f5f5f5;
}
/* Position and style hero container */

.hero-container {
  margin: 0 auto;
  position: relative;
  width: 75rem;
}

.hero-container .pane1 button {
  background-color: #EA37B9;
  border-radius: .2rem;
  height: 2.5rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
  width: 9rem;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.hero-container .pane1 button:hover {
  background-color: #EC66C8;
}

.hero-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero-container li > .pane1-content > img:first-of-type {
  display: inline-block;
  width: 40%;
}

.pane1-content {
  background: #6a3b99 url("../images/hero-bg.jpg") no-repeat center center;
  background-size: cover;
  height: 24.215rem;
}

.pane1-content, h2 {
  color: #FAE9EF;
  font-weight: 300;
}

.pane1 > div h2 {
  font-size: 3.5rem;
  margin-bottom: 0;
}

.pane1-text {
  display: inline-block;
  float: right;
  padding: 1rem;
  width: 60%;
}

.pane1-text > * {
  margin-left: 1rem;
}

.pane1-text p {
  font-size: .9rem;
  width: 85%;
}

p > a, p > a + span, .social-link-container > a {
  color: #c5a0df;
}

.social-link-container > span, .social-link-container > a {
  font-size: .8rem;
  padding-right: 1.5rem;
  vertical-align: 20%;
}

.social-link-container > span:nth-child(2) {
  color: #FF83B5;
}

.social-link-container > a:nth-child(4) {
  color: #38B9F0;
}

.social-link-container {
  margin-top: 5rem;
  width: 100%;
}

/* Position and style carousel navigator */

.hero-container .navigator {
  bottom: 1rem;
  left: 1rem;
  position: absolute;
}

button.control {
  height: .7rem;
  width: .7rem;
}

button.control > div {
  background-color: rgba(255,255,255,1);
  border-radius: 50%;
  height: .6rem;
  margin: 0 .2rem;
  width: .6rem;
}

.navigator button:first-child ~ button > * {
  background-color: rgba(255,255,255,.5);
}
.sections_heading-main span {
	animation-name: colorSlide;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

.sections_heading-main span:nth-child(1) { 
	animation-delay: .3s;
}

.sections_heading-main span:nth-child(2) {
	animation-delay: .36s;
}

.sections_heading-main span:nth-child(3) {
	animation-delay: .42s;
}

.sections_heading-main span:nth-child(4) {
	animation-delay: .48s;
}

section.noteworthy h2 {
	margin-bottom: 3rem;
	text-align: center;
}

@keyframes colorSlide {

	0% {
		color: #4A70EB;
	}
	50% {
		color: #38B9F0;
	}
	100% {
		color: #EA37B9;
	}

	/*0% {
		color: #9341C1;
	}
	100% {
		color: #EA37B9;
	}*/
}


/*Position and style section*/

section.noteworthy {
	background-color: #fff;
	max-width: 75rem;
	padding: 2rem 2rem 3rem 2rem;
}

.content-container {
	width: 49%;
}

.content-text {
	color: #404040;
	margin-left: 1rem;
	position: relative;
}

.content-container, .content-text, .image-placeholder {
	display: inline-block;	
}

.content-text > * {
	font-weight: 400;
}

.content-text h3 {
	margin: 0 0 1rem 0;
}

.content-text span {
	font-size: 2rem;
	font-weight: 100;
	top: 0;
	right: 1rem;
	position: absolute;
}

.content-text p {
	border-bottom: .1rem solid #C6C6C6;
	color: #828282;
	font-size: .8rem;
	margin: 0;
	padding-bottom: .8rem;
	width: 20rem;
}

.image-placeholder {
	background-color: #F5F5F5;
	height: 10rem;
	width: 12rem;
	vertical-align: top;
}

.social-link-container {
	margin-top: 1rem;
	width: 100%;
}

.social-link-container > a {
	color: #000;
	font-size: .8rem;
	padding-right: 1.5rem;
	vertical-align: 20%;
}

.social-link-container a {
	transition: color .3s ease-in-out;
}

.social-link-container > a:nth-child(2) {
	color: #4A70EB;
}

.social-link-container > a:nth-child(4) {
	color: #38B9F0;
}

.social-link-container > a:nth-child(2):hover {
	color: #96ACF5;
}

.social-link-container > a:nth-child(4):hover {
	color: #98E0FF;
}

.social-link-container > a:nth-child(6):hover {
	color: #9C9A9A;
}
/*
=== APPRECIATION SECTION
*/

.appreciation_container {
  text-align: center;
  color: #6B6B6B;
  max-width: 75rem;
  width: 100%;
  font-weight: 400;
}

.appreciation_container a:hover,
.appreciation_container a:focus {
  padding-bottom: 0.15em;
  border-bottom: 0.0625rem solid;
}

.appreciation_list {
  margin-top: 2.65rem;
}

.appreciation_container h2 {
  margin-bottom: 0.08em;
}

.appreciation_description {
  margin: 0;
  font-size: 1.18rem;
}
.appreciation_item--desc {
  margin: 0;
}

.appreciation_item {
  display: inline-block;
  vertical-align: top;
  margin: 0 5%;
}

.appreciation_item--innerwrap {
  width: 14.06rem;
  height: 14.06rem;
  padding: 1rem 1.5rem;
  border-radius: 50%;
  background: #fff;
  border: 0.375rem solid;
}

.appreciation_item--content {
  padding: 0 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.appreciation_icon-wrap {
  display: block;
  width: 3.4rem;
  height: 3.4rem;
  margin: 0.9rem auto;
}

.appreciation_icon-wrap svg {
  width: 100%;
  height: 100%;
}
.appreciation_btn {
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-radius: 0.1875rem;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.appreciation_item--link {
  margin-top: 0.3rem; 
}
.appreciation_item--link a {
  color: #6B6B6B;
  font-size: 0.9rem;
  font-weight: 500;
  -webkit-transition: color 0.2s ease-in-out,
              border-bottom 0.2s ease-in-out;
  transition: color 0.2s ease-in-out,
              border-bottom 0.2s ease-in-out;
}
.appreciation-link-light {
  color: #C6C6C6;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

/* github appreciation styles */
.appreciation_github {
  border-color: #FAE9EF;
}
.appreciation_github_btn {
  padding: 0.6rem 1.6rem;
  background:#EC4C7A;
  color: #fff;
}
.appreciation_github_btn:hover,
.appreciation_github_btn:focus {
  background: #FF83B5;
};
.appreciation_github_btn:active {
  background: #EC4C7A;
  -webkit-transform: translateY(0.0625rem);
          transform: translateY(0.0625rem); 
}
.appreciation_github + .appreciation_item--link:hover a,
.appreciation_github + .appreciation_item--link:hover span {
  color: #EC4C7A;
}
/* tip appreciation styles */
.appreciation_gratipay {
  padding-left: 0;
  padding-right: 0;
  border-color: #D5F9DF;
}
.tip_desc {
  margin-top: 0.625rem;
}
.tip_form {
  margin-top: 0.75rem;
}
.tip_input {
  display: inline-block;
  width: 100%;
  max-width: 10rem;
  padding: 0.5rem 0;
  margin: 1rem 0 1.5rem;
  background-color: #F8F8F8;
  border: none;
  text-align: center;
  font-size: 1.7rem;
  color: #828282;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
}
.tip_input:focus,
.tip_input:hover {
  box-shadow: 0 0 0 0.0625rem #6AD12C inset;
}
.appreciation_tip_btn {
  padding: 0.6rem 0.9rem;
  background: #29B74B;
  color: #fff;
}
.appreciation_tip_btn:hover,
.appreciation_tip_btn:focus {
  background: #34D359;
}
.appreciation_tip_btn:active {
  background: #29B74B;
  -webkit-transform: translateY(0.0625rem);
          transform: translateY(0.0625rem);
 }
 .appreciation_gratipay + .appreciation_item--link:hover a,
 .appreciation_gratipay + .appreciation_item--link:hover span {
   color: #29B74B;
 }

 /* twitter appreciation styles */
.appreciation_twitter {
  border-color: #D7F2FB;
}
.appreciation_twitter .appreciation_item--content {
  padding: 0 0.45rem;
}
.appreciation_twitter_link {
  font-weight: 400;
  color: #5BC5ED;
  background: transparent;
  -webkit-transition: color 0.2s ease-in-out,
                border-bottom 0.2s ease-in-out;
  transition:   color 0.2s ease-in-out,
                border-bottom 0.2s ease-in-out
}
.appreciation_twitter_link:hover,
.appreciation_twitter_link:focus,
.appreciation_twitter + .appreciation_item--link:hover a,
.appreciation_twitter + .appreciation_item--link:hover span {
  color: #34BCE6;
}