html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background: #F5F5F5;
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 1.5;
}


/*
=== GENERAL RESETS ===
*/


/* clearfix */

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* button resets*/


/* removes padding and border added by Firefox  */

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}


/* resets initial styles so all button elements start with the same look and can be built upon */

button {
  padding: 0;
  display: inline-block;
  border: none;
  text-decoration: none;
  color: inherit;
  font-family: sans-serif;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

h1,
.price {
  font-family: 'Roboto Slab', serif;
}

.large_container {
  max-width: 86.23rem;
  margin: auto;
}

/*
=== HEADINGS
*/

/* pink headings */
.sections_heading-main {
  color: #EA37B9;
  font-weight: 400;
  font-size: 1.85rem;
  margin-bottom: 0.5em;
}

/*
=== DEVELOPER INFORMATION SECTION
*/

.dev_info-container {
}

.dev_info-person a {
  color: #758AF7;
}
.dev_info-personal {
  color: #424242;
  padding: 40px;
  width: 67%;
  background: #fff;
}

.dev_info-heading--main {
  margin-top: 0;
  font-weight: 500;
  font-size: 25px;
  color: #9D4EE8;
}